.img-logo {
  width: 5.5rem;
  height: auto;
  padding-left: 30px;
}

.custom-navbar {
  background-color: rgb(214, 205, 143);
}

.overlay {
  background-color: rgba(253, 253, 246, 0.712);
  width: 100%;
  height: 100%;
  position: relative;
}

.background-image {
  background-image: url('../img/fundocozinha.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


.custom-paragraph {
  font-size: 20px;
  margin-bottom: 30px;
}


.my-custom-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



@media (min-width: 394px) {
  .custom-container-receitas {
    width: 90%;
  }

}


.occhiello {
  font-size: 40px;

}

.my-custom-h1 {
  font-size: 70px;
}

span {
  font-weight: 300;
}

.my-custom-button {
  background-color: rgb(214, 205, 143);
  border: 2px solid black;
  color: black;
  width: 100%;
}

.my-custom-button:hover {
  background-color: rgba(234, 219, 138, 0.536);
  border: 2px solid black;
  color: black;

}


.my-custom-img {
  width: 90%;
  height: auto;
  border-radius: 5px;

}

.lead {
  font-size: 18px;
}

.tecnica {
  background: url("/src/tecnica.jpg") center / cover no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h3 {
  margin-bottom: 20px;
}


.container-tecnica p {
  color: rgb(255, 248, 248);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  padding: 100px 15%;
  background-color: rgba(44, 44, 44, 0.76);

}



@media (max-width: 768px) {
  .custom-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

    .container-tecnica p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 100px 30px;

  }
}

@media (max-width: 576px) {
  .custom-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}


.custom-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


/* testimonials */
.carousel img {
  width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}

.carousel-inner {
  padding: 1em;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
    width: 90%;
    margin-inline: auto;
    padding: 1em 0;
    overflow: hidden;
  }

  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 768px) {
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}

.carousel .card {
  margin: 0 0.5em;
  border: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  background-color: grey;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.custom-padding-testimonial {
  padding: 130px 20px;
}

.testimonial-section {
  position: relative;
  overflow: hidden;
}


.testimonial-section .container-fluid {
  position: relative;

}


.custom-footer {
  background-color: rgb(214, 205, 143);
}


